<a href="https://colab.research.google.com/github/pammyyAnn/Activity_16/blob/main/Copy_of_Module16_Pam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/Lunar_Activity/RailsToTrails_National-Count-Data_week-1.csv'
df = pd.read_csv(filename)
bike_df = df.copy()
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bike_df.drop(['Unnamed: 6', 'Unnamed: 9', 'Unnamed: 12'], axis=1)

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bike_df.rename(columns={'Unnamed: 6': 'percent_change'}, inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
missing_values = bike_df.isnull().sum()
print(missing_values)

Timeframe                     945
Week of                       945
 2019 counts (31 counters)    945
 2020 counts (31 counters)    945
2021 Counts                   997
Change 2019-2020              945
percent_change                945
Unnamed: 7                    997
Unnamed: 8                    996
Unnamed: 9                    996
Unnamed: 10                   997
Unnamed: 11                   997
Unnamed: 12                   997
Unnamed: 13                   997
Unnamed: 14                   997
Unnamed: 15                   997
Unnamed: 16                   997
Unnamed: 17                   997
Unnamed: 18                   997
Unnamed: 19                   997
Unnamed: 20                   997
Unnamed: 21                   997
Unnamed: 22                   997
Unnamed: 23                   997
dtype: int64

In [ ]:
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Timeframe                     945
Week of                       945
 2019 counts (31 counters)    945
 2020 counts (31 counters)    945
2021 Counts                   997
Change 2019-2020              945
percent_change                945
Unnamed: 7                    997
Unnamed: 8                    996
Unnamed: 9                    996
Unnamed: 10                   997
Unnamed: 11                   997
Unnamed: 12                   997
Unnamed: 13                   997
Unnamed: 14                   997
Unnamed: 15                   997
Unnamed: 16                   997
Unnamed: 17                   997
Unnamed: 18                   997
Unnamed: 19                   997
Unnamed: 20                   997
Unnamed: 21                   997
Unnamed: 22                   997
Unnamed: 23                   997
dtype: int64

In [ ]:
bike_df['2021 Counts'].fillna(0, inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,0.0,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,0.0,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,0.0,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,0.0,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,0.0,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bike_df.rename(columns={'2019 counts (31 counters)': 'counts_2019'}, inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN